// To customize the colors of each series both of these variables are required.
// ct-series-names needs to be the same length as ct-series-colors.
$ct-series-names: (a, b, c, d);
$ct-series-colors: (
  #E91E63,
  #42A5F5,
  #66BB6A,
  #FF9800
);

@import "chartist/chartist.scss";

.container {
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto;
  max-width: 600px;

  a {
    color: orange;
  }
}
