<ChartistChart
  @type="bar"
  @data={{this.model.chartData}}
  @responsiveOptions={{this.chartResOptions}}
  data-test-selector="chart"
  data-test-id="bar"
/>

<div class="container">
  <ChartFishOverTime
    @data={{this.data}}
    data-test-selector="chart"
    data-test-id="fish"
  />
</div>

<PieILike
  data-test-selector="chart"
  data-test-id="pie"
/>
